html, body {
    
    
}
#appBase {
    width: 100%;
    
}
listingRow {
    margin-top: 15px;
    margin-bottom: 15px;
}
.authCard {
    
    background-color: black;
    color: white;
    
}
.authNav {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 30px;
    padding-right: 30px;
}
.authInput {
    margin-top: 20px;
    margin-bottom: 10px;
    border-radius: 0%;
    color: white;
    background-color: black;
}
.authSelect {
    margin-top: 25px; 
    color: black;
}
.authButton {
    width: 100%;
    margin-top: 50px;
    height: 80px;
    
}

.banButton {
    width: 25%;
    margin-top: 50px;
    height: 50px;
}